In [ ]:
print(1+2)

3

array = [
"月曜日は晴れです",
"火曜日は雨です",
"水曜日は晴れです",
"木曜日は晴れです",
"金曜日は曇りです",
"土曜日は曇りのち雨です",
"日曜日は雷雨です"]

print(array[2])

In [7]:
array = [
"月曜日は晴れです",
"火曜日は雨です",
"水曜日は晴れです",
"木曜日は晴れです",
"金曜日は曇りです",
"土曜日は曇りのち雨です",
"日曜日は雷雨です"]

print(array[2])

dictionary ={
    "mon":"晴れ",
    "tue":"雨",
    "wed":"晴れ",
    "thu":"晴れ",
    "fri":"曇り",
    "sat":"曇りのち雨",
    "sun":"雷雨"}

print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
age = 0 # 年齢

if age <20:
  #未成年の場合
  print("ジュースで乾杯")
else:
  #　成年の場合
  print("drink beer")

ジュースで乾杯

In [ ]:
print(45+18)
print(30-12)
print(15*6)
print(30/3)
print(45%8)

63
18
90
10.0
5

In [ ]:
print(type(30/3))

<class 'float'>

In [ ]:
print(45+1.8)
print(30-1.2)
print(15*0.6)
print(3/0.3)
print(45%0.8)

46.8
28.8
9.0
10.0
0.1999999999999975